.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.App-Container {
  width: 100vw;
  flex: 1;
}

.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
  z-index: 1001;
}
